* {
    box-sizing: border-box;
}

body {
    background: url("https://i.pinimg.com/originals/2c/4a/6f/2c4a6f601f1bfd5bd58b51b16a2f4248.jpg");
    background-size: cover;                    
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Permanent Marker';
}

main {
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
}

h1 {
    font-size: 4rem;
    margin:8px 0;
    color: rgb(43, 43, 43)
}

p {
    margin: 0;
}

button {
    font: inherit;
    padding: 12px;
    margin-top: 10px;
    border: 2px solid #000;
    border-radius: 50px;
    color: #fff;
    background-color: rgb(100, 126, 211);
}

#winner-text {
    display: absolute;
    font-size: 4rem;
    position: absolute;
    top: 0px;
    left: -400px;
    transform: rotate(-20deg);
}



.form {
    margin: 0 auto;
}

.board {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    justify-content: center;
    width: 450px;
    height: 450px;
    margin: 40px auto;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

#square-1 {
    border-bottom: 3px solid #000;
    border-right: 3px solid #000;
}

#square-2 {
    border-bottom: 3px solid #000;
}

#square-3 {
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
}

#square-4 {
    border-right: 3px solid #000;
}

#square-6 {
    border-left: 3px solid #000;
}

#square-7 {
    border-top: 3px solid #000;
    border-right: 3px solid #000;
}

#square-8 {
    border-top: 3px solid #000;
}

#square-9 {
    border-top: 3px solid #000;
    border-left: 3px solid #000;
}

@media screen and (max-width: 1200px) {
    #winner-text {
        left: 0px;
        top: 400px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }
    .board {
        width: 300px;
        height: 300px;
        margin-top: 15px;
    }
    .square {
        width: 100px;
        height: 100px;
        font-size: 5rem;
    }

    #winner-text {
        font-size: 3rem;
        top: 300px;
    }
}